{% if item.peer_v4 is defined %}
protocol bgp {{ item.name }}_v4 from dnpeers {
    neighbor {{ item.peer_v4 }} % '{{ item.name }}' as {{ item.asn }};
    {% if item.description is defined %}description "{{ item.description }}";
    {% endif %}
}
{% endif %}

{% if item.peer_v6 is defined %}
protocol bgp {{ item.name }}_v6 from dnpeers {
    neighbor {{ item.peer_v6 }} % '{{ item.name }}' as {{ item.asn }};
    {% if item.description is defined %}description "{{ item.description }}";
    {% endif %}
}
{% endif %}
